.align-left {
  float: left;
}

.align-right {
  float: right;
}

body.table-gallery #navigation-bar,
body.table-gallery .navigation-controls {
  display: inline-flex;
}

body.table-gallery .navigation-controls {
  float: right;
}

.gallery-state-toggle {
  &.community .community-toggle,
  &.enterprise .enterprise-toggle {
    color: var(--secondary);
    background-color: var(--tertiary);
  }
}

body.table-gallery .topic-statuses {
  display: none;
}
