.align-left {
  float: left;
}

.align-right {
  float: right;
}

body.table-gallery #navigation-bar,
body.table-gallery .navigation-controls {
  display: inline-flex;
}

body.table-gallery .navigation-controls {
  float: right;
}

.gallery-state-toggle {
  &.community .community-toggle,
  &.enterprise .enterprise-toggle {
    color: var(--secondary);
    background-color: var(--tertiary);
  }
}

body.table-gallery .topic-thumbnails-grid .topic-statuses {
  display: none;
}

body.table-gallery .topic-thumbnails-grid .post-activity {
  display: none;
}

body.table-gallery .topic-thumbnails-grid {
  tbody {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

body.table-gallery .main-link {
  overflow: hidden;
  .link-top-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
