{{gallery-state-toggle
    galleryState=galleryState}}

<div>
{{gallery-navigation
updateListView=(action "updateListView")
updateFilter=(action "updateFilter")
listViewState=listViewState
filterInput=filterInput}}
</div>

<div style="clear: both">
{{#if currentUser.staff}}
    {{d-navigation
        category=category
        filterMode=filterMode
        noSubcategories=noSubcategories
        canCreateTopic=canCreateTopic
        createTopic=(route-action "createTopic")
        createTopicDisabled=cannotCreateTopicOnCategory
        hasDraft=currentUser.has_topic_draft
        editCategory=(route-action "editCategory" category)
    }}
{{/if}}
</div>